* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 330.13px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 330px;
    object-fit: cover;
  }
}

.card-body {
  text-align: center;
}

.side {
  margin-right: 30px;
}

.cart-img {
  width: 500px;
  height: 50px;
}

.paypal-img {
  width: 80px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert-container {
  position: relative; /* Change to relative */
  left: 50%; /* Center horizontally */
  text-align: center;
  margin: 20px 10px;
  transform: translateX(-50%); /* Adjust to keep it centered */
  z-index: 1050; /* Ensure it's above other elements */
  width: 40%; /* Adjust width as needed */
  transition: opacity 0.5s ease; /* Fade-in/out animation */
  opacity: 0; /* Start with an invisible alert */
  visibility: hidden; /* Start with an invisible alert */
}

/* Class to make the alert visible */
.alert-visible {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Set to visible */
}

.search-input {
  width: 400px; /* Default width for small screens */
}

/*styling color and buttons */
.green {
  background: linear-gradient(
    to right,
    #519c4b,
    #a7d678
  ); /* Gradient from light green to a soft green */
}

.light-green {
  background: linear-gradient(
    to right,
    #c1e899,
    #e6f0dc
  ); /* Gradient from a light color to a fresh light green */
}

.navbar-color {
  background: linear-gradient(to right, #336a29, #498428, #80b155);
}

.gradient-background {
  background: #ffffff;
}

.card-background {
  background: linear-gradient(to right, #e6f0dc, #c1e899);
  border: 1px solid #7ba17b;
}

.btn-style {
  padding: 10px 20px; /* Adjust padding */
  margin-right: 10px; /* Add right margin for spacing */
  background: linear-gradient(to right, #336a29, #498428);
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.btn-style:hover {
  background: linear-gradient(to right, #4e8c3a, #5aa843);
  transform: scale(1.05); /* Slightly enlarge on hover */
  color: #ffffff;
}

.btn-details {
  background-color: #649364;
}
.borders {
  border-radius: 15px;
}

.nav-zoom {
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.nav-zoom:hover {
  transform: scale(0.93); /* Scale down to 95% on hover */
}