/* General styling */
body {
  overflow-x: hidden;
  background: #7ba17b; /* Consistent background color for both pages */
  font-family: "Fredericka the Great", "cursive";/* Apply sans-serif font to the body */
}

/* Input fields */
.custom-input {
  width: 80%; /* Reduced width */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  font-family: "Fredericka the Great", "cursive";/* Apply sans-serif font to input fields */
}

/* Logo styling */
.form-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Fredericka the Great", "cursive";
}

/* Image styling for consistent placement and size */
.img-logo {
  max-width: 85%; /* Adjust this for a suitable size on fullscreen */
  height: auto;
}

/* Adjustments to maintain consistent image positioning */
@media (min-width: 992px) {
  .img-logo {
    max-width: 75%; /* Smaller on large screens */
  }
}

@media (max-width: 991px) {
  .img-logo {
    max-width: 90%; /* Larger on smaller screens for readability */
  }
}

@media (max-width: 576px) {
  .text-center {
    margin-right: 10%;
  }
}

/* Link styling */
.link-style {
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease; /* Smooth hover transition */
  font-family: "Fredericka the Great", "cursive";
}

.link-style:hover {
  color: black; /* Turns link white on hover */
}

/* Button styling */
.btn-style {
  padding: 10px 20px; /* Adjust padding */
  margin-right: 10px; /* Add right margin for spacing */
  background: linear-gradient(to right, #5ba132, #5ba132);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  font-family: "Fredericka the Great", "cursive";
}

.btn-style:hover {
  background: linear-gradient(to right, #5ba132, #66b13a);
  transform: scale(0.95);
  color: #ffffff;
}

/* Background colors */
.green {
  background: linear-gradient(to right, #5ba132, #5ba132);
}

.light-green {
  background-color: #5aa131;
}

.table-color {
  background-color: #92c85c;
}

.admin-color {
  background: linear-gradient(to right, #336a29, #498428, #689d3a);
}

/* Paragraph styling */
.p1 {
  font-family: "Fredericka the Great", "cursive";
}
